In [0]:
import os
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_style('white')

import warnings
warnings.filterwarnings('ignore')

In [3]:
os.listdir('./drive/My Drive/kakao')

['genre_gn_all.json',
 'test.json',
 'val.json',
 'train.json',
 'song_meta.json',
 '.ipynb_checkpoints']

In [0]:
kakao_path = './drive/My Drive/kakao'
genre_path = os.path.join(kakao_path,'genre_gn_all.json')
test_path = os.path.join(kakao_path,'test.json')
val_path = os.path.join(kakao_path,'val.json')
train_path = os.path.join(kakao_path,'train.json')
song_meta_path = os.path.join(kakao_path,'song_meta.json')

# Genre DataFrame 생성

In [0]:
import json
with open(genre_path) as genre:
  dict_genre = json.load(genre)

genre = pd.DataFrame.from_dict(dict_genre,orient='index')
genre.reset_index(level=0,inplace=True)
genre.columns = ['genre_code','genre']

# Test DataFrame 생성

In [0]:
TAGS = []
ID = []
PLYLST_TITLE = []
SONGS = []
LIKE_CNT = []
UPDT_DATE = []
ANOTHER = []

with open(test_path) as test:
  dict_test = json.load(test)

for i in range(len(dict_test)):
  for key,value in dict_test[i].items():
    if key == 'tags':
      TAGS.append(value)

    elif key == 'id':
      ID.append(value)

    elif key == 'plylst_title':
      PLYLST_TITLE.append(value)

    elif key == 'songs':
      SONGS.append(value)

    elif key == 'like_cnt':
      LIKE_CNT.append(value)

    elif key == 'updt_date':
      UPDT_DATE.append(value)

    else :
      ANOTHER.append(value)

test_dict = dict(tags=TAGS,id=ID,plylst_title=PLYLST_TITLE,songs=SONGS,like_cnt=LIKE_CNT,updt_date=UPDT_DATE)
test = pd.DataFrame(test_dict)

# Validation DataFrame 생성

In [0]:
TAGS = []
ID = []
PLYLST_TITLE = []
SONGS = []
LIKE_CNT = []
UPDT_DATE = []
ANOTHER = []

with open(val_path) as val:
  dict_val = json.load(val)

for i in range(len(dict_val)):
  for key,value in dict_val[i].items():
    if key == 'tags':
      TAGS.append(value)

    elif key == 'id':
      ID.append(value)

    elif key == 'plylst_title':
      PLYLST_TITLE.append(value)

    elif key == 'songs':
      SONGS.append(value)

    elif key == 'like_cnt':
      LIKE_CNT.append(value)

    elif key == 'updt_date':
      UPDT_DATE.append(value)

    else :
      ANOTHER.append(value)

val_dict = dict(tags=TAGS,id=ID,plylst_title=PLYLST_TITLE,songs=SONGS,like_cnt=LIKE_CNT,updt_date=UPDT_DATE)
val = pd.DataFrame(val_dict)

# Train DataFrame 생성

In [0]:
TAGS = []
ID = []
PLYLST_TITLE = []
SONGS = []
LIKE_CNT = []
UPDT_DATE = []
ANOTHER = []

with open(train_path) as train:
  dict_train = json.load(train)

for i in range(len(dict_train)):
  for key,value in dict_train[i].items():
    if key == 'tags':
      TAGS.append(value)

    elif key == 'id':
      ID.append(value)

    elif key == 'plylst_title':
      PLYLST_TITLE.append(value)

    elif key == 'songs':
      SONGS.append(value)

    elif key == 'like_cnt':
      LIKE_CNT.append(value)

    elif key == 'updt_date':
      UPDT_DATE.append(value)

    else :
      ANOTHER.append(value)

train_dict = dict(tags=TAGS,id=ID,plylst_title=PLYLST_TITLE,songs=SONGS,like_cnt=LIKE_CNT,updt_date=UPDT_DATE)
train = pd.DataFrame(train_dict)

# Meta DataFrame 생성

In [0]:
SONG_GN_DTL_GNR_BASKET = []
ISSUE_DATE = []
ALBUM_NAME = []
ALBUM_ID = []
ARTIST_ID_BASKET = []
SONG_NAME = []
SONG_GN_GNR_BASKET = []
ARTIST_NAME_BASKET = []
ID = []
ANOTHER = []

with open(song_meta_path) as meta:
  dict_meta = json.load(meta)

for i in range(len(dict_meta)):
  for key,value in dict_meta[i].items():
    if key == 'song_gn_dtl_gnr_basket':
      SONG_GN_DTL_GNR_BASKET.append(value)

    elif key == 'issue_date':
      ISSUE_DATE.append(value)

    elif key == 'album_name':
      ALBUM_NAME.append(value)

    elif key == 'album_id':
      ALBUM_ID.append(value)

    elif key == 'artist_id_basket':
      ARTIST_ID_BASKET.append(value)

    elif key == 'song_name':
      SONG_NAME.append(value)

    elif key == 'song_gn_gnr_basket':
          SONG_GN_GNR_BASKET.append(value)

    elif key == 'artist_name_basket':
          ARTIST_NAME_BASKET.append(value)

    elif key == 'id':
          ID.append(value)

    else :
      ANOTHER.append(value)

meta_dict = dict(song_gn_dtl_gnr_basket= SONG_GN_DTL_GNR_BASKET, issue_date=ISSUE_DATE,
                 album_name=ALBUM_NAME, album_id=ALBUM_ID, artist_id_basket=ARTIST_ID_BASKET,
                 song_name=SONG_NAME, song_gn_gnr_basket=SONG_GN_GNR_BASKET, artist_name_basket=ARTIST_NAME_BASKET)
meta = pd.DataFrame(meta_dict)

# Train Data
    shape : (115071, 6)
    columns : ['tags', 'id', 'plylst_title', 'songs', 'like_cnt', 'updt_date']
    결측치 : 0 개
    Column        Non-Null Count   Dtype 
    ---  ------        --------------   ----- 
    0   tags          115071 non-null  object
    1   id            115071 non-null  int64 
    2   plylst_title  115071 non-null  object
    3   songs         115071 non-null  object
    4   like_cnt      115071 non-null  int64 
    5   updt_date     115071 non-null  object

In [76]:
train.head()

                                                tags  ...                updt_date
0                                                [락]  ...  2013-12-19 18:36:19.000
1                                           [추억, 회상]  ...  2014-12-02 16:19:42.000
2                                          [까페, 잔잔한]  ...  2017-08-28 07:09:34.000
3  [연말, 눈오는날, 캐럴, 분위기, 따듯한, 크리스마스캐럴, 겨울노래, 크리스마스,...  ...  2019-12-05 15:15:18.000
4                                               [댄스]  ...  2011-10-25 13:54:56.000

[5 rows x 6 columns]

#  Validation Data

    shape : (23015, 6)
    columns : ['tags', 'id', 'plylst_title', 'songs', 'like_cnt', 'updt_date']
    결측치 : 0 개
    #   Column        Non-Null Count  Dtype 
    ---  ------        --------------  ----- 
    0   tags          23015 non-null  object
    1   id            23015 non-null  int64 
    2   plylst_title  23015 non-null  object
    3   songs         23015 non-null  object
    4   like_cnt      23015 non-null  int64 
    5   updt_date     23015 non-null  object

In [61]:
val.head()

  tags      id  ... like_cnt                updt_date
0   []  118598  ...     1675  2019-05-27 14:14:33.000
1   []  131447  ...        1  2014-07-16 15:24:24.000
2   []   51464  ...       62  2008-06-21 23:26:22.000
3   []   45144  ...       20  2017-10-30 18:15:43.000
4   []   79929  ...       20  2017-02-07 11:40:42.000

[5 rows x 6 columns]

# Test Data
    shape : (10740, 6)
    columns :['tags', 'id', 'plylst_title', 'songs', 'like_cnt', 'updt_date']
    결측치 : 0 개
    #   Column        Non-Null Count  Dtype 
    ---  ------        --------------  ----- 
    0   tags          10740 non-null  object
    1   id            10740 non-null  int64 
    2   plylst_title  10740 non-null  object
    3   songs         10740 non-null  object
    4   like_cnt      10740 non-null  int64 
    5   updt_date     10740 non-null  object

In [62]:
test.head()

                       tags      id  ... like_cnt                updt_date
0                        []   70107  ...        6  2012-09-29 01:57:26.000
1  [나만의Best3, 인디아티스트들의추천음악]    7461  ...        0  2019-12-17 14:06:45.000
2                    [드라이브]   90348  ...       21  2015-05-23 10:44:48.000
3                     [분위기]   58617  ...        0  2019-03-14 09:47:34.000
4                        []  102395  ...       38  2018-07-11 16:43:32.000

[5 rows x 6 columns]

# Genre Data
    shape : (254, 2)
    columns : ['genre_code', 'genre']
    결측치 : 0개
    #   Column  Non-Null Count  Dtype 
    ---  ------  --------------  ----- 
    0   index   254 non-null    object
    1   0       254 non-null    object

In [100]:
genre.head()

  genre_code   genre
0     GN0100     발라드
1     GN0101  세부장르전체
2     GN0102     '80
3     GN0103     '90
4     GN0104     '00

# Meta Data
    shape : (707989, 8)
    columns : ['song_gn_dtl_gnr_basket', 'issue_date', 'album_name', 'album_id',
    'artist_id_basket', 'song_name', 'song_gn_gnr_basket','artist_name_basket']
    결측치 : 4개 in "album_name" column

    #   Column                  Non-Null Count   Dtype 
    ---  ------                  --------------   ----- 
    0   song_gn_dtl_gnr_basket  707989 non-null  object
    1   issue_date              707989 non-null  object
    2   album_name              707985 non-null  object
    3   album_id                707989 non-null  int64 
    4   artist_id_basket        707989 non-null  object
    5   song_name               707989 non-null  object
    6   song_gn_gnr_basket      707989 non-null  object
    7   artist_name_basket      707989 non-null  object

In [77]:
meta.head()

  song_gn_dtl_gnr_basket issue_date  ... song_gn_gnr_basket  artist_name_basket
0               [GN0901]   20140512  ...           [GN0900]   [Various Artists]
1       [GN1601, GN1606]   20080421  ...           [GN1600]    [Murray Perahia]
2               [GN0901]   20180518  ...           [GN0900]     [Peter Gabriel]
3       [GN1102, GN1101]   20151016  ...           [GN1100]            [Matoma]
4       [GN1802, GN1801]   20110824  ...           [GN1800]          [Jude Law]

[5 rows x 8 columns]